body {
    background-color: hsl(226, 50%, 68%);
}

.bookSection {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.book {    
    background-color: hsl(58, 81%, 86%);
    border-style: solid;
    border-radius: 6px;
    box-shadow: 5px 5px 3px grey;
    height: 300px;
    width: 150px;
    color: hsl(226, 50%, 20%);
    padding: 40px;
}