body {
    background-color: hsl(49, 100%, 17%);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.bookSection {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.book, .newBook, .newBookForm {    
    background-color: hsla(49, 100%, 49%, 0.877);
    border-style:solid;
    border-radius: 6px;
    height: 300px;
    width: 185px;
    color: hsl(0, 0%, 0%);
    padding: 40px;
}

.book, .newBook {
    text-align: center;
}

.book {
    position: relative;
}

/* Button to add new books */
.newBook {
    cursor: pointer;
    user-select: none;
}

.newBook:hover {
    background-color: hsla(49, 100%, 39%, 0.877);
}

.newBook:active {
    transform: translateY(3px);
}


/* Form to add the info of the new books */

.newBookForm input {
    margin-bottom: 10px;
}



/* button to remove a book from the library */

.removeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 25px;
    width: 25px;
    background-color: orangered;
    border-style: solid;
    border-radius: 5px;
    border-color:hsl(0, 0%, 0%);
    cursor: pointer;
}

.removeButton:active {
    transform: translateY(2px);
}



/* button to toggle read/unread */

.divRead {
    position: absolute;
    bottom: 30px;
    left: 20%;
    right: 20%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    color: beige;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.divRead:hover {
    transform: translateY(-1px);
}

.divRead:active {
    transform: translateY(2px);
}